h1:after
{
	width:100px;
	height:2px;
	background-color:#000080;
	display:block;
	content:" ";
	margin:0 auto;
	margin-top:30px;
}

.minutes
{
	padding-left:5%;
}

.bold_font{
	font-weight:bold; 
	font-size:250%;
}

.small_font{
	font-size:170%;
}

.end{
	background-color:grey; 
	background-size:cover;
	text-align:center; 
	padding-top:100px; 
	color:white;
}