*
{
	margin:0;
	padding:0;
}

body
{
	font-family:Trebuchet MS; 
}

header
{
	height:100vh;
	background-position:center; 
	background-size:cover;
	background-attachment:fixed;
}

video{
	position:absolute; 
	z-index: -1; 
	width:100%; 
} 

.background
{
	background: rgba(0, 0, 0, 0.5);
	position:fixed;
	width:100%;
}
.row
{
	max-width:1080px;
}

.main-nav
{
	list-style:none;
	float:right;
	margin-top:25px;
}

.main-nav li
{
	display: inline-block;
	margin-left:20px;
}

.main-nav li a
{
	color:white;
	text-decoration:none;
	font-size:120%;
	font-weight:bold;
}

.main-nav li a:hover
{
	color:#d3d3d3;
	border-bottom:2px solid #d3d3d3;
	transition:all 0.5s ease-in;
	padding:15px 0;
}

.logo img
{
	padding-left:43%;
	height:200px;
	margin-top:145px;
}

h1
{
	color:white;
	font-size:500%;
	font-weight: bolder;
}

h2{
	font-size:450%;
	color:white;
	padding-left:39%;
	font-weight: 100;
}


h3:after
{
	width:100px;
	height:2px;
	background-color:#000080;
	display:block;
	content:" ";
	margin:0 auto;
	margin-top:30px;
}

#contain
{
	margin-top:80px;
	border-radius:12px;
	background-color:#d3d3d3;
	width: 100%;
	margin-left:0; 
	padding-top:10px;
}

#col1{
	margin: 0 0 0 2.5%;
	width:19%; 
	min-height:350px; 
	display: inline-block;
	vertical-align:top; 
}

#col2{
	margin: 0 0 0 0; 
	width:19%; 
	min-height:350px; 
	display: inline-block;
	vertical-align:top; 
}

#col3{
	margin: 0 0 0 0;
	width:19%; 
	min-height:350px; 
	display: inline-block;
	vertical-align:top; 
}

#col4{
	margin: 0 0 0 0;
	width:19%; 
	min-height:350px; 
	display: inline-block;
	vertical-align:top; 
}

#col5{
	margin: 0 2.5% 0 0;
	width:19%; 
	min-height:350px; 
	display: inline-block;
	vertical-align:top; 
}
.vision h3
{
	margin-top:80px;
	margin-bottom:30px;
	font-size:250%
}

.vision h4
{
	text-align:center;
}

.vision img 
{
	padding-top:25%;
	padding-left:25%;
}

.about
{
	width:70%; 
	margin-left:15%;
	margin-bottom:20px;
	text-align:center;
	font-weight:100;
	font-size:150%;
}

.stuco-showcase
{
	list-style:none;
	width:100%;
	padding-bottom:450px;
}

.stuco-showcase li
{
	display:block;
	width:25%;
	float:left;
}

.stuco-photo
{
	width:100%; 
	margin:0;
	overflow:hidden;
}

.stuco-photo img
{
	width:100%; 
	height:auto;
	transform:scale(1.15);
	transition:all 0.5s;
}

.stuco-photo img:hover
{
	transform:scale(1.05);
}

.stuco
{
	margin-top:60px;
}

.gap
{
	margin-top:40px;
}

.footer
{
	background-color:grey; 
	background-size:cover;
	text-align:center; 
	padding-top:100px; 
	color:white;
}

.container
{
	padding-bottom: 50px; 
}

.btn-block
{
	color:white;
	border-radius:4px;
	margin-top:20px;
	background-color:grey;
	border:2px solid #ADD8E6;
}

.btn-block:hover
{
	background-color:#ADD8E6;
	border:2px solid #ADD8E6;
}

.gap
{
	margin-top:40px;
}

