/* This CSS file contains the styling for the Home HTML page. */
.video-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;  /* Place below all other elements */
}

header {
  padding-bottom: 5em;
}

.content {
  background-color: white;
  padding: 0;
}

.logo img {
  display: block;
  width: 20%;
  padding: auto;
  margin: auto;
  margin-top: 6em;
}

h1 {
  color: white;
  font-size: 5vw;
  font-weight: bolder;
}

h2 {
  font-size: 4vw;
  color: white;
  font-weight: 100;
}

h3:after {
  width: 100px;
  height: 2px;
  background-color: #000080;
  display: block;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;
}

#contain {
  margin-top: 5vw;
  border-radius: 12px;
  background-color: #d3d3d3;
  width: 100%;
  margin-left: 0;
  padding-top: 10px;
}

#col1, #col2, #col3, #col4, #col5 {
  width: 18%;
  min-height: 300px;
  display: inline-block;
  vertical-align: top;
}

#col1 {
  margin: 0 0 0 2.5%;
}

#col2, #col3, #col4 {
  margin: 0 0 0 0;
}

#col5 {
  margin: 0 2.5% 0 0;
}

.vision h3 {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 250%
}

.vision h4 {
  text-align: center;
}

.vision img {
  padding-top: 25%;
  padding-left: 25%;
}

.au {
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
  padding-bottom: 20px;
}

.about {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 150%;
}

.stuco-showcase {
  list-style: none;
  width: 100%;
  padding-bottom: 450px;
}

.stuco-showcase li {
  display: block;
  width: 25%;
  float: left;
}

.stuco-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.stuco-photo img {
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: all 0.5s;
}

.stuco-photo img:hover {
  transform: scale(1.05);
}

.stuco {
  margin-top: 60px;
}

.gap {
  margin-top: 40px;
}

.home-footer {
  background-color: grey;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  color: white;
}

.container {
  padding-bottom: 50px;
}

.btn-block {
  color: white;
  border-radius: 4px;
  margin-top: 20px;
  background-color: grey;
  border: 2px solid #ADD8E6;
}

.btn-block:hover {
  background-color: #ADD8E6;
  border: 2px solid #ADD8E6;
}

.gap {
  margin-top: 40px;
}
