/* This CSS file contains the styling for the Events HTML page. */
header {
  background-image: url("../../img/team/group/team.jpg");
  padding: 22vw 0;
}

h2 {
  padding: 2em 0 0 0;
}

div.desc {
  padding: 15px;
  text-align: center;
}

img.album-container {
  margin: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix {
  padding: 3em 0 0 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.end {
  background-color: grey;
  background-size: cover;
  text-align: center;
  padding-top: 100px;
  color: white;
}
